<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.sysAdmin.mapper.Bm2CheckSelfTypeTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="TypeID" property="typeid" jdbcType="VARCHAR" />
    <result column="TypeName" property="typename" jdbcType="VARCHAR" />
    <result column="IsInvolve" property="isinvolve" jdbcType="INTEGER" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="CreatorID" property="creatorid" jdbcType="VARCHAR" />
    <result column="SortOrder" property="sortorder" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" extends="BaseResultMap" >
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>

  <!-- 总数据量查询 -->
  <select id="selectTotal" resultType="integer" >
    select count(typeid) from bm2_checkselftype_tbl where IsDelete = 0
  </select>

  <!-- 查询显示字段 -->
  <sql id="Bm2CheckSelfTypeTbl" >
    typename,isinvolve,createtime,remark
  </sql>

  <!-- 保密自查类型批量查询 -->
  <select id="selectAll" parameterType="integer" resultType="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    select
    <include refid="Bm2CheckSelfTypeTbl" />
    from bm2_checkselftype_tbl  where IsDelete = 0 limit  #{start},#{pageSize}
  </select>

  <!-- 条件查询总数据量 -->
  <select id="selectTotals" resultType="integer" >
    select count(typeid) from bm2_checkselftype_tbl where typename like concat('%',#{typename},'%')
    AND CreateTime BETWEEN date_format(#{createtime},'%Y-%m-%d %H:%i:%s') AND  date_format(#{endtime},'%Y-%m-%d %H:%i:%s')
    AND isinvolve = #{isinvolve}
  </select>

  <!-- 保密自查类型条件查询 -->
  <select id="factorSelect"  resultType="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    select
    <include refid="Bm2CheckSelfTypeTbl" />
    from bm2_checkselftype_tbl where typename like concat('%',#{typename},'%')
    AND CreateTime BETWEEN date_format(#{createtime},'%Y-%m-%d %H:%i:%s') AND  date_format(#{endtime},'%Y-%m-%d %H:%i:%s')
    AND isinvolve = #{isinvolve} limit #{start},#{pageSize}
  </select>

  <!-- 保密自查类型添加 -->
  <insert id="insert" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    insert into bm2_checkselftype_tbl(typename,isinvolve,sortorder,remark)
    values(#{typename},#{isinvolve},#{sortorder},#{remark})
  </insert>

  <!-- 保密自查类型删除 -->
  <delete id="delete" parameterType="string"  >
    update bm2_checkselftype_tbl set IsDelete = 1 where typeid in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")" >
      #{item}
    </foreach>
  </delete>

  <!-- 保密自查单条查询 -->
  <select id="select" parameterType="string" resultType="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    select
    <include refid="Bm2CheckSelfTypeTbl"></include>
    from bm2_checkselftype_tbl where typeid = #{typeid}
  </select>

  <!-- 保密自查类型修改 -->
  <update id="update" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2CheckSelfTypeTbl" >
    update bm2_checkselftype_tbl set typename = #{typename},isinvolve = #{isinvolve},
    updatetime = now(),sortorder = #{sortorder},remark = #{remark}
    where typeid = #{typeid}
  </update>

</mapper>