<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.sysAdmin.mapper.Bm2KeepsecretqualificationtypeTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationtypeTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="QualificationTypeID" property="qualificationtypeid" jdbcType="VARCHAR" />
    <result column="QualificationTypeName" property="qualificationtypename" jdbcType="VARCHAR" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>


  <sql id="Base_Column_List" >
    Id, QualificationTypeID, QualificationTypeName, IsDelete
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bm2_keepsecretqualificationtype_tbl
    where QualificationTypeID = #{id}
  </select>

  <select id="queryType" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from bm2_keepsecretqualificationtype_tbl
    where IsDelete = 0 limit #{start},#{pageSize}
  </select>


  <select id="selectTotal" resultType="java.lang.Integer"  >
    select
    COUNT(QualificationTypeID)
    from bm2_keepsecretqualificationtype_tbl
    where IsDelete = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
   update bm2_keepsecretqualificationtype_tbl
    where QualificationTypeID = #{id,jdbcType=VARCHAR}
  </delete>

  <insert id="insert" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationtypeTbl" >
    insert into bm2_keepsecretqualificationtype_tbl (Id, QualificationTypeID, QualificationTypeName, 
      IsDelete)
    values (#{id,jdbcType=INTEGER}, #{qualificationtypeid,jdbcType=VARCHAR}, #{qualificationtypename,jdbcType=VARCHAR}, 
      0)
  </insert>
  <insert id="insertSelective" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationtypeTbl" >
    insert into bm2_keepsecretqualificationtype_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="qualificationtypeid != null" >
        QualificationTypeID,
      </if>
      <if test="qualificationtypename != null" >
        QualificationTypeName,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qualificationtypeid != null" >
        #{qualificationtypeid,jdbcType=VARCHAR},
      </if>
      <if test="qualificationtypename != null" >
        #{qualificationtypename,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationtypeTbl" >
    update bm2_keepsecretqualificationtype_tbl
    <set >

      <if test="qualificationtypename != null" >
        QualificationTypeName = #{qualificationtypename,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where QualificationTypeID = #{qualificationtypeid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationtypeTbl" >
    update bm2_keepsecretqualificationtype_tbl
    set QualificationTypeID = #{qualificationtypeid,jdbcType=VARCHAR},
      QualificationTypeName = #{qualificationtypename,jdbcType=VARCHAR},
      IsDelete = #{isdelete,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>