<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.sysAdmin.mapper.Bm2KeepsecretqualificationlevelTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationlevelTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="QualificationLevelID" property="qualificationlevelid" jdbcType="VARCHAR" />
    <result column="QualificationLevelName" property="qualificationlevelname" jdbcType="VARCHAR" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, QualificationLevelID, QualificationLevelName, IsDelete
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bm2_keepsecretqualificationlevel_tbl
    where QualificationLevelID = #{id}
  </select>

  <select id="queryType" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    from bm2_keepsecretqualificationlevel_tbl
    where IsDelete = 0
    limit #{start},#{pageSize}
  </select>

  <select id="selectTotal"  resultType="java.lang.Integer" >
    select
    COUNT(QualificationLevelID)
    from bm2_keepsecretqualificationlevel_tbl
    where IsDelete = 0
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  bm2_keepsecretqualificationlevel_tbl  set IsDelete = 1
    where QualificationLevelID = #{id}
  </delete>

  <insert id="insert" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationlevelTbl" >
    insert into bm2_keepsecretqualificationlevel_tbl (Id, QualificationLevelID, QualificationLevelName, 
      IsDelete)
    values (#{id,jdbcType=INTEGER}, #{qualificationlevelid,jdbcType=VARCHAR}, #{qualificationlevelname,jdbcType=VARCHAR}, 
      0)
  </insert>
  <insert id="insertSelective" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationlevelTbl" >
    insert into bm2_keepsecretqualificationlevel_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        Id,
      </if>
      <if test="qualificationlevelid != null" >
        QualificationLevelID,
      </if>
      <if test="qualificationlevelname != null" >
        QualificationLevelName,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="qualificationlevelid != null" >
        #{qualificationlevelid,jdbcType=VARCHAR},
      </if>
      <if test="qualificationlevelname != null" >
        #{qualificationlevelname,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>



  <update id="updateByPrimaryKeySelective" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationlevelTbl" >
    update bm2_keepsecretqualificationlevel_tbl
    <set >
      <if test="qualificationlevelname != null" >
        QualificationLevelName = #{qualificationlevelname,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=INTEGER},
      </if>
    </set>
    where QualificationLevelID = #{qualificationlevelid}
  </update>


  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.sysAdmin.dto.Bm2KeepsecretqualificationlevelTbl" >
    update bm2_keepsecretqualificationlevel_tbl
    set QualificationLevelID = #{qualificationlevelid,jdbcType=VARCHAR},
      QualificationLevelName = #{qualificationlevelname,jdbcType=VARCHAR},
      IsDelete = #{isdelete,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>