<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.BmFormcommonlinkTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.BmFormcommonlinkTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="UniqueId" property="uniqueid" jdbcType="VARCHAR" />
    <result column="HyperLinkText" property="hyperlinktext" jdbcType="VARCHAR" />
    <result column="LinkUrl" property="linkurl" jdbcType="VARCHAR" />
    <result column="LinkIcon" property="linkicon" jdbcType="VARCHAR" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="SortOrder" property="sortorder" jdbcType="INTEGER" />
    <result column="TopSign" property="topsign" jdbcType="INTEGER" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, UniqueId, HyperLinkText, LinkUrl, LinkIcon, IsDelete, SortOrder, TopSign, Remark, 
       date_format(UpdateTime, '%Y-%m-%d')  UpdateTime
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bm_formcommonlink_tbl
    where UniqueId = #{id}
  </select>
  <select id="select" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from bm_formcommonlink_tbl
    where IsDelete = 0
    order by Id desc
    limit #{start},#{pageSize}
  </select>
  <select id="selectTotal" resultType="java.lang.Integer">
    select
    COUNT(Id)
    from bm_formcommonlink_tbl
    where IsDelete = 0
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update bm_formcommonlink_tbl set IsDelete = 1
    where UniqueId = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.BmFormcommonlinkTbl" >
    insert into bm_formcommonlink_tbl (Id, UniqueId, HyperLinkText, 
      LinkUrl, LinkIcon, IsDelete, 
      SortOrder, TopSign, Remark, 
      UpdateTime)
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{hyperlinktext,jdbcType=VARCHAR}, 
      #{linkurl,jdbcType=VARCHAR}, #{linkicon,jdbcType=VARCHAR}, 0,
      #{sortorder,jdbcType=INTEGER}, #{topsign,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      NOW())
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.BmFormcommonlinkTbl" >
    update bm_formcommonlink_tbl
    set UniqueId = #{uniqueid,jdbcType=VARCHAR},
      HyperLinkText = #{hyperlinktext,jdbcType=VARCHAR},
      LinkUrl = #{linkurl,jdbcType=VARCHAR},
      LinkIcon = #{linkicon,jdbcType=VARCHAR},
      IsDelete = #{isdelete,jdbcType=INTEGER},
      SortOrder = #{sortorder,jdbcType=INTEGER},
      TopSign = #{topsign,jdbcType=INTEGER},
      Remark = #{remark,jdbcType=VARCHAR},
      UpdateTime = #{updatetime,jdbcType=TIMESTAMP}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>