<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.BmKeyfileTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.BmKeyfileTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="FileId" property="fileid" jdbcType="VARCHAR" />
    <result column="DepOrPlaId" property="deporplaid" jdbcType="VARCHAR" />
    <result column="DepOrPlaType" property="deporplatype" jdbcType="INTEGER" />
    <result column="FileType" property="filetype" jdbcType="INTEGER" />
    <result column="FileName" property="filename" jdbcType="VARCHAR" />
    <result column="FileDetail" property="filedetail" jdbcType="VARCHAR" />
    <result column="FileUrl" property="fileurl" jdbcType="VARCHAR" />
    <result column="FileDate" property="filedate" jdbcType="TIMESTAMP" />
    <result column="SortOrder" property="sortorder" jdbcType="INTEGER" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="PicModelId" property="picmodelid" jdbcType="VARCHAR" />
    <result column="OId" property="oid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    Id, FileId, DepOrPlaId, DepOrPlaType, FileType, FileName, FileDetail, FileUrl, FileDate, 
    SortOrder, IsDelete, PicModelId, OId
  </sql>
  <select id="selectByDeptId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from bm_keyfile_tbl
    where DepOrPlaId = #{id} and IsDelete = 0
  </select>

  <select id="selectByFileId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from bm_keyfile_tbl
    where FileId = #{id}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update bm_keyfile_tbl set IsDelete = 1
    where FileId = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.BmKeyfileTbl" >
    insert into bm_keyfile_tbl (Id, FileId, DepOrPlaId, 
      DepOrPlaType, FileType, FileName, 
      FileDetail, FileUrl, FileDate, 
      SortOrder, IsDelete, PicModelId, 
      OId)
    values (#{id,jdbcType=INTEGER}, #{fileid,jdbcType=VARCHAR}, #{deporplaid,jdbcType=VARCHAR}, 
      #{deporplatype,jdbcType=INTEGER}, #{filetype,jdbcType=INTEGER}, #{filename,jdbcType=VARCHAR}, 
      #{filedetail,jdbcType=VARCHAR}, #{fileurl,jdbcType=VARCHAR}, NOW(),
      #{sortorder,jdbcType=INTEGER}, 0, #{picmodelid,jdbcType=VARCHAR},
      #{oid,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.BmKeyfileTbl" >
    update bm_keyfile_tbl
    set FileId = #{fileid,jdbcType=VARCHAR},
      DepOrPlaId = #{deporplaid,jdbcType=VARCHAR},
      DepOrPlaType = #{deporplatype,jdbcType=INTEGER},
      FileType = #{filetype,jdbcType=INTEGER},
      FileName = #{filename,jdbcType=VARCHAR},
      FileDetail = #{filedetail,jdbcType=VARCHAR},
      FileUrl = #{fileurl,jdbcType=VARCHAR},
      FileDate = #{filedate,jdbcType=TIMESTAMP},
      SortOrder = #{sortorder,jdbcType=INTEGER},
      IsDelete = #{isdelete,jdbcType=INTEGER},
      PicModelId = #{picmodelid,jdbcType=VARCHAR},
      OId = #{oid,jdbcType=INTEGER}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>