<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.ExaminationsecretTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.ExaminationsecretTbl" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR" />
    <result column="StaffNamer" property="staffnamer" jdbcType="VARCHAR" />
    <result column="AccoutNamer" property="accoutnamer" jdbcType="VARCHAR" />
    <result column="JobNumber" property="jobnumber" jdbcType="VARCHAR" />
    <result column="SecretLevelNamer" property="secretlevelnamer" jdbcType="VARCHAR" />
    <result column="OrganizationNamer" property="organizationnamer" jdbcType="VARCHAR" />
    <result column="ApplyUserPhone" property="applyuserphone" jdbcType="VARCHAR" />
    <result column="WorkFLowID" property="workflowid" jdbcType="VARCHAR" />
    <result column="FormID" property="formid" jdbcType="VARCHAR" />
    <result column="Isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="ApplyTime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="Operation" property="operation" jdbcType="INTEGER" />
    <result column="IsApproved" property="isapproved" jdbcType="INTEGER" />
    <result column="loginUserID" property="loginuserid" jdbcType="VARCHAR" />
    <result column="loginUserOrgName" property="loginuserorgname" jdbcType="VARCHAR" />
    <result column="loginUserSecretLevel" property="loginusersecretlevel" jdbcType="VARCHAR" />
    <result column="loginUserAccount" property="loginuseraccount" jdbcType="VARCHAR" />
    <result column="rFileUrl" property="rfileurl" jdbcType="VARCHAR" />
    <result column="CheckYear" property="checkyear" jdbcType="VARCHAR" />
    <result column="CheckMonth" property="checkmonth" jdbcType="VARCHAR" />
    <result column="DeptID" property="deptid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, UniqueID, StaffNamer, AccoutNamer, JobNumber, SecretLevelNamer, OrganizationNamer, 
    ApplyUserPhone, WorkFLowID, FormID, Isdelete, date_format(ApplyTime, '%Y-%m-%d %H:%i:%s')  ApplyTime , Operation, IsApproved, loginUserID,
    loginUserOrgName, loginUserSecretLevel, loginUserAccount, rFileUrl, CheckYear, CheckMonth, 
    DeptID
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from examinationsecret_tbl
    where UniqueID = #{id}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from examinationsecret_tbl
    where UniqueID = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.ExaminationsecretTbl" >
    insert into examinationsecret_tbl (ID, UniqueID, StaffNamer, 
      AccoutNamer, JobNumber, SecretLevelNamer, 
      OrganizationNamer, ApplyUserPhone, WorkFLowID, 
      FormID, Isdelete, ApplyTime, 
      Operation, IsApproved, loginUserID, 
      loginUserOrgName, loginUserSecretLevel, 
      loginUserAccount, rFileUrl, CheckYear, 
      CheckMonth, DeptID)
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{staffnamer,jdbcType=VARCHAR}, 
      #{accoutnamer,jdbcType=VARCHAR}, #{jobnumber,jdbcType=VARCHAR}, #{secretlevelnamer,jdbcType=VARCHAR}, 
      #{organizationnamer,jdbcType=VARCHAR}, #{applyuserphone,jdbcType=VARCHAR}, #{workflowid,jdbcType=VARCHAR}, 
      #{formid,jdbcType=VARCHAR}, 0, NOW(),
      #{operation,jdbcType=INTEGER}, 0, #{loginuserid,jdbcType=VARCHAR},
      #{loginuserorgname,jdbcType=VARCHAR}, #{loginusersecretlevel,jdbcType=VARCHAR}, 
      #{loginuseraccount,jdbcType=VARCHAR}, #{rfileurl,jdbcType=VARCHAR}, #{checkyear,jdbcType=VARCHAR}, 
      #{checkmonth,jdbcType=VARCHAR}, #{deptid,jdbcType=VARCHAR})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.ExaminationsecretTbl" >
    update examinationsecret_tbl
    set UniqueID = #{uniqueid,jdbcType=VARCHAR},
      StaffNamer = #{staffnamer,jdbcType=VARCHAR},
      AccoutNamer = #{accoutnamer,jdbcType=VARCHAR},
      JobNumber = #{jobnumber,jdbcType=VARCHAR},
      SecretLevelNamer = #{secretlevelnamer,jdbcType=VARCHAR},
      OrganizationNamer = #{organizationnamer,jdbcType=VARCHAR},
      ApplyUserPhone = #{applyuserphone,jdbcType=VARCHAR},
      WorkFLowID = #{workflowid,jdbcType=VARCHAR},
      FormID = #{formid,jdbcType=VARCHAR},
      Isdelete = #{isdelete,jdbcType=INTEGER},
      ApplyTime = #{applytime,jdbcType=TIMESTAMP},
      Operation = #{operation,jdbcType=INTEGER},
      IsApproved = #{isapproved,jdbcType=INTEGER},
      loginUserID = #{loginuserid,jdbcType=VARCHAR},
      loginUserOrgName = #{loginuserorgname,jdbcType=VARCHAR},
      loginUserSecretLevel = #{loginusersecretlevel,jdbcType=VARCHAR},
      loginUserAccount = #{loginuseraccount,jdbcType=VARCHAR},
      rFileUrl = #{rfileurl,jdbcType=VARCHAR},
      CheckYear = #{checkyear,jdbcType=VARCHAR},
      CheckMonth = #{checkmonth,jdbcType=VARCHAR},
      DeptID = #{deptid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectByInstanceId" resultMap="BaseResultMap" parameterType="java.lang.String">
    select
    <include refid="Base_Column_List"/>
    from examinationsecret_tbl
    where WorkFlowID = #{instanceId}
  </select>
  <update id="updateByInstanceId">
    update examinationsecret_tbl
    set
      IsApproved = #{status}
    where WorkFlowID = #{instanceId}
  </update>
</mapper>