<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.sysAdmin.mapper.MjqdyjTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.sysAdmin.dto.MjqdyjTbl" >
    <id column="Id" property="id" jdbcType="INTEGER" />
    <result column="Name" property="name" jdbcType="VARCHAR" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.hangyu.platform.web.sysAdmin.dto.MjqdyjTbl" extends="BaseResultMap" >
    <result column="Remark" property="remark" jdbcType="LONGVARCHAR" />
  </resultMap>

  <sql id="Base_Column_List" >
    Id, Name, IsDelete
  </sql>
  <sql id="Blob_Column_List" >
    Remark
  </sql>

  <!-- 总数据量查询 -->
  <select id="selectTotal" resultType="integer" >
    select count(id) from  mjqdyj_tbl where isdelete = 0
  </select>

  <!-- 单条查询 -->
  <select id="select" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from mjqdyj_tbl
    where Id = #{id,jdbcType=INTEGER}
  </select>

  <!-- 批量查询 -->
  <select id="selectAll" resultMap="ResultMapWithBLOBs" >
    select
    <include refid="Base_Column_List" />,<include refid="Blob_Column_List" />
    from mjqdyj_tbl where isdelete = 0 limit #{start},#{pageSize}
  </select>

  <!-- 批量删除 -->
  <delete id="delete" parameterType="java.lang.Integer" >
    update mjqdyj_tbl  set isdelete = 1  where Id in
    <foreach collection="list" index="index" item="item" open="(" separator="," close=")" >
      #{item}
    </foreach>
  </delete>

  <!-- 添加信息 -->
  <insert id="insert" parameterType="com.hangyu.platform.web.sysAdmin.dto.MjqdyjTbl" >
    insert into mjqdyj_tbl (Name, IsDelete, Remark)
    values (#{name,jdbcType=VARCHAR}, 0, #{remark,jdbcType=LONGVARCHAR})
  </insert>

  <!-- 修改信息 -->
  <update id="update" parameterType="com.hangyu.platform.web.sysAdmin.dto.MjqdyjTbl" >
    update mjqdyj_tbl
    set
        Name = #{name,jdbcType=VARCHAR},
        Remark = #{remark,jdbcType=LONGVARCHAR}
    where Id = #{id,jdbcType=INTEGER}
  </update>
</mapper>