<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.NationlevelalterTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.NationlevelalterTbl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="SupporterType" property="supportertype" jdbcType="VARCHAR" />
    <result column="LevelDataTime" property="leveldatatime" jdbcType="TIMESTAMP" />
    <result column="LevelFront" property="levelfront" jdbcType="VARCHAR" />
    <result column="LevelBack" property="levelback" jdbcType="VARCHAR" />
    <result column="DeadlineFront" property="deadlinefront" jdbcType="TIMESTAMP" />
    <result column="DeadlineBack" property="deadlineback" jdbcType="TIMESTAMP" />
    <result column="ScopeFront" property="scopefront" jdbcType="VARCHAR" />
    <result column="scopeBack" property="scopeback" jdbcType="VARCHAR" />
    <result column="Reason" property="reason" jdbcType="VARCHAR" />
    <result column="Opinion" property="opinion" jdbcType="VARCHAR" />
    <result column="FileNum" property="filenum" jdbcType="VARCHAR" />
    <result column="WorkFlowID" property="workflowid" jdbcType="VARCHAR" />
    <result column="Operation" property="operation" jdbcType="INTEGER" />
    <result column="IsApproved" property="isapproved" jdbcType="INTEGER" />
    <result column="Isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="FormID" property="formid" jdbcType="VARCHAR" />
    <result column="ApplyTime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="AccoutNamer" property="accoutnamer" jdbcType="VARCHAR" />
    <result column="OrganizationNamer" property="organizationnamer" jdbcType="VARCHAR" />
    <result column="ChuShi" property="chushi" jdbcType="VARCHAR" />
    <result column="JobNumber" property="jobnumber" jdbcType="VARCHAR" />
    <result column="SecretLevelNamer" property="secretlevelnamer" jdbcType="VARCHAR" />
    <result column="StaffNamer" property="staffnamer" jdbcType="VARCHAR" />
    <result column="loginUserID" property="loginuserid" jdbcType="VARCHAR" />
    <result column="loginUserOrgName" property="loginuserorgname" jdbcType="VARCHAR" />
    <result column="loginUserSecretLevel" property="loginusersecretlevel" jdbcType="VARCHAR" />
    <result column="loginUserAccount" property="loginuseraccount" jdbcType="VARCHAR" />
    <result column="rFileUrl" property="rfileurl" jdbcType="VARCHAR" />
    <result column="ApplyUserPhone" property="applyuserphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, UniqueID, name, SupporterType,date_format(LevelDataTime, '%Y-%m-%d') LevelDataTime , LevelFront, LevelBack, date_format(DeadlineFront, '%Y-%m-%d') DeadlineFront,
   date_format(DeadlineBack, '%Y-%m-%d') DeadlineBack,  ScopeFront, scopeBack, Reason, Opinion, FileNum,
   WorkFlowID, Operation,
    IsApproved, Isdelete, FormID,date_format(ApplyTime, '%Y-%m-%d %H:%i:%s')  ApplyTime , AccoutNamer, OrganizationNamer, ChuShi,
    JobNumber, SecretLevelNamer, StaffNamer, loginUserID, loginUserOrgName, loginUserSecretLevel, 
    loginUserAccount, rFileUrl, ApplyUserPhone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from nationlevelalter_tbl
    where UniqueID = #{id}
  </select>

    <select id="selectByInstanceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
        select
        <include refid="Base_Column_List" />
        from nationlevelalter_tbl
        where WorkFlowID = #{instanceId}
    </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from nationlevelalter_tbl
    where UniqueID = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.NationlevelalterTbl" >
    insert into nationlevelalter_tbl (id, UniqueID, name, 
      SupporterType, LevelDataTime, LevelFront, 
      LevelBack, DeadlineFront, DeadlineBack, 
      ScopeFront, scopeBack, Reason, 
      Opinion, FileNum, WorkFlowID, 
      Operation, IsApproved, Isdelete, 
      FormID, ApplyTime, AccoutNamer, 
      OrganizationNamer, ChuShi, JobNumber, 
      SecretLevelNamer, StaffNamer, loginUserID, 
      loginUserOrgName, loginUserSecretLevel, 
      loginUserAccount, rFileUrl, ApplyUserPhone
      )
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{supportertype,jdbcType=VARCHAR}, str_to_date(#{leveldatatime},'%Y-%m-%d'), #{levelfront,jdbcType=VARCHAR},
      #{levelback,jdbcType=VARCHAR},str_to_date(#{deadlinefront},'%Y-%m-%d'),str_to_date(#{deadlineback},'%Y-%m-%d'),
      #{scopefront,jdbcType=VARCHAR}, #{scopeback,jdbcType=VARCHAR}, #{reason,jdbcType=VARCHAR}, 
      #{opinion,jdbcType=VARCHAR}, #{filenum,jdbcType=VARCHAR}, #{workflowid,jdbcType=VARCHAR}, 
      #{operation,jdbcType=INTEGER}, #{isapproved,jdbcType=INTEGER}, 0,
      #{formid,jdbcType=VARCHAR}, NOW(), #{accoutnamer,jdbcType=VARCHAR},
      #{organizationnamer,jdbcType=VARCHAR}, #{chushi,jdbcType=VARCHAR}, #{jobnumber,jdbcType=VARCHAR}, 
      #{secretlevelnamer,jdbcType=VARCHAR}, #{staffnamer,jdbcType=VARCHAR}, #{loginuserid,jdbcType=VARCHAR}, 
      #{loginuserorgname,jdbcType=VARCHAR}, #{loginusersecretlevel,jdbcType=VARCHAR}, 
      #{loginuseraccount,jdbcType=VARCHAR}, #{rfileurl,jdbcType=VARCHAR}, #{applyuserphone,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.NationlevelalterTbl" >
    update nationlevelalter_tbl
    set UniqueID = #{uniqueid,jdbcType=VARCHAR},
      name = #{name,jdbcType=VARCHAR},
      SupporterType = #{supportertype,jdbcType=VARCHAR},
      LevelDataTime = #{leveldatatime,jdbcType=TIMESTAMP},
      LevelFront = #{levelfront,jdbcType=VARCHAR},
      LevelBack = #{levelback,jdbcType=VARCHAR},
      DeadlineFront = #{deadlinefront,jdbcType=TIMESTAMP},
      DeadlineBack = #{deadlineback,jdbcType=TIMESTAMP},
      ScopeFront = #{scopefront,jdbcType=VARCHAR},
      scopeBack = #{scopeback,jdbcType=VARCHAR},
      Reason = #{reason,jdbcType=VARCHAR},
      Opinion = #{opinion,jdbcType=VARCHAR},
      FileNum = #{filenum,jdbcType=VARCHAR},
      WorkFlowID = #{workflowid,jdbcType=VARCHAR},
      Operation = #{operation,jdbcType=INTEGER},
      IsApproved = #{isapproved,jdbcType=INTEGER},
      Isdelete = #{isdelete,jdbcType=INTEGER},
      FormID = #{formid,jdbcType=VARCHAR},
      ApplyTime = #{applytime,jdbcType=TIMESTAMP},
      AccoutNamer = #{accoutnamer,jdbcType=VARCHAR},
      OrganizationNamer = #{organizationnamer,jdbcType=VARCHAR},
      ChuShi = #{chushi,jdbcType=VARCHAR},
      JobNumber = #{jobnumber,jdbcType=VARCHAR},
      SecretLevelNamer = #{secretlevelnamer,jdbcType=VARCHAR},
      StaffNamer = #{staffnamer,jdbcType=VARCHAR},
      loginUserID = #{loginuserid,jdbcType=VARCHAR},
      loginUserOrgName = #{loginuserorgname,jdbcType=VARCHAR},
      loginUserSecretLevel = #{loginusersecretlevel,jdbcType=VARCHAR},
      loginUserAccount = #{loginuseraccount,jdbcType=VARCHAR},
      rFileUrl = #{rfileurl,jdbcType=VARCHAR},
      ApplyUserPhone = #{applyuserphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

    <update id="updateByInstanceId" >
    update nationlevelalter_tbl
    set
      IsApproved = #{status}
    where WorkFlowID = #{instanceId}
  </update>
</mapper>