<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.PostsecretlevelTblMapper">
    <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.PostsecretlevelTbl">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR"/>
        <result column="StaffId" property="staffid" jdbcType="VARCHAR"/>
        <result column="DeptId" property="deptid" jdbcType="VARCHAR"/>
        <result column="Gangwei" property="gangwei" jdbcType="VARCHAR"/>
        <result column="Isdelete" property="isdelete" jdbcType="INTEGER"/>
        <result column="SecretContent" property="secretcontent" jdbcType="VARCHAR"/>
        <result column="Remark" property="remark" jdbcType="VARCHAR"/>
        <result column="SecretLevelName" property="secretlevelname" jdbcType="VARCHAR"/>
        <result column="BSecretLevelID" property="bsecretlevelid" jdbcType="VARCHAR"/>
    </resultMap>
    <sql id="Base_Column_List">
    a.id, a.UniqueID, a.StaffId, a.DeptId, a.Gangwei, a.Isdelete, a.SecretContent, a.Remark, a.SecretLevelName,
    a.BSecretLevelID,o.OrgName deptName,b.codename secretName,ba.codename businessSecretName
  </sql>
    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        <include refid="Base_Column_List"/>
        from postsecretlevel_tbl a
        left join basecode b on b.id = a.SecretLevelName
        left join basecode ba on ba.id = a.BSecretLevelID
        left join organization o on a.DeptId = o.UniqueID
        where a.UniqueID = #{id}
    </select>

    <select id="select" resultType="com.hangyu.platform.web.backBusiness.dto.PostsecretlevelTbl"
            parameterType="com.hangyu.platform.web.backBusiness.vo.PostLevelQueryVO">
        select
        <include refid="Base_Column_List"/>
        from postsecretlevel_tbl a
        left join basecode b on b.id = a.SecretLevelName
        left join basecode ba on ba.id = a.BSecretLevelID
        left join organization o on a.DeptId = o.UniqueID
        <where>
            a.Isdelete = 0
            <if test="orgId != null ">
                and a.DeptId = #{orgId}
            </if>
            <if test="name != null">
                and a.Gangwei like CONCAT("%",#{name},"%")
            </if>
            <if test="content != null">
                and a.SecretContent like CONCAT("%",#{content},"%")
            </if>
            <if test="secretId != null">
                and a.SecretLevelName = #{secretId}
            </if>
            <if test="businessSecretId != null">
                and a.BSecretLevelID = #{businessSecretId}
            </if>
        </where>
        order by a.Id desc
        limit #{pageNum} , #{pageSize}
    </select>

    <select id="selectTotal" resultType="java.lang.Integer"
            parameterType="com.hangyu.platform.web.backBusiness.vo.PostLevelQueryVO">
        select
        COUNT(ID)
        from postsecretlevel_tbl a
        <where>
            a.Isdelete = 0
            <if test="orgId != null ">
                and a.DeptId = #{orgId}
            </if>
            <if test="name != null">
                and a.Gangwei like CONCAT("%",#{name},"%")
            </if>
            <if test="content != null">
                and a.SecretContent like CONCAT("%",#{content},"%")
            </if>
            <if test="secretId != null">
                and a.SecretLevelName = #{secretId}
            </if>
            <if test="businessSecretId != null">
                and a.BSecretLevelID = #{businessSecretId}
            </if>
        </where>
    </select>

    <select id="queryName" resultMap="BaseResultMap" parameterType="java.lang.String">
        select
        *
        from postsecretlevel_tbl
        <where>
            Isdelete = 0
            <if test="orgId != null ">
                and DeptId = #{orgId}
            </if>
        </where>
        order by Id desc
    </select>

    <select id="selectByUserId" resultType="com.hangyu.platform.web.backBusiness.dto.PostsecretlevelTbl"
            parameterType="java.lang.String">
    select
      *
    from postsecretlevel_tbl
    where Isdelete = 0
    and gangwei in (select gangwei from YiRenDuoGang where StaffId = #{userId} and Isdelete = 0)
  </select>


    <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    update postsecretlevel_tbl set Isdelete = 1
    where UniqueID = #{id}
  </delete>
    <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.PostsecretlevelTbl">
    insert into postsecretlevel_tbl (id, UniqueID, StaffId, 
      DeptId, Gangwei, Isdelete, 
      SecretContent, Remark, SecretLevelName, 
      BSecretLevelID)
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{staffid,jdbcType=VARCHAR}, 
      #{deptid,jdbcType=VARCHAR}, #{gangwei,jdbcType=VARCHAR}, 0,
      #{secretcontent,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{secretlevelname,jdbcType=VARCHAR}, 
      #{bsecretlevelid,jdbcType=VARCHAR})
  </insert>
    <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.PostsecretlevelTbl">
    update postsecretlevel_tbl
    set
      StaffId = #{staffid,jdbcType=VARCHAR},
      DeptId = #{deptid,jdbcType=VARCHAR},
      Gangwei = #{gangwei,jdbcType=VARCHAR},
      Isdelete = #{isdelete,jdbcType=INTEGER},
      SecretContent = #{secretcontent,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      SecretLevelName = #{secretlevelname,jdbcType=VARCHAR},
      BSecretLevelID = #{bsecretlevelid,jdbcType=VARCHAR}
    where UniqueID = #{uniqueid,jdbcType=VARCHAR}
  </update>
</mapper>