<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.SecretexaminaapproveTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.SecretexaminaapproveTbl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR" />
    <result column="Name_" property="name" jdbcType="VARCHAR" />
    <result column="Content" property="content" jdbcType="VARCHAR" />
    <result column="DepartName" property="departname" jdbcType="VARCHAR" />
    <result column="SecretLevelYJ" property="secretlevelyj" jdbcType="VARCHAR" />
    <result column="YJName" property="yjname" jdbcType="VARCHAR" />
    <result column="YJSecretLevel" property="yjsecretlevel" jdbcType="VARCHAR" />
    <result column="YJDeadline" property="yjdeadline" jdbcType="VARCHAR" />
    <result column="EjxmName" property="ejxmname" jdbcType="VARCHAR" />
    <result column="ExType" property="extype" jdbcType="VARCHAR" />
    <result column="SecretLevel" property="secretlevel" jdbcType="VARCHAR" />
    <result column="Deadline" property="deadline" jdbcType="TIMESTAMP" />
    <result column="Scope" property="scope" jdbcType="VARCHAR" />
    <result column="Examina" property="examina" jdbcType="VARCHAR" />
    <result column="WorkFlowID" property="workflowid" jdbcType="VARCHAR" />
    <result column="Operation" property="operation" jdbcType="INTEGER" />
    <result column="IsApproved" property="isapproved" jdbcType="INTEGER" />
    <result column="Isdelete" property="isdelete" jdbcType="INTEGER" />
    <result column="FormID" property="formid" jdbcType="VARCHAR" />
    <result column="ApplyTime" property="applytime" jdbcType="TIMESTAMP" />
    <result column="AccoutNamer" property="accoutnamer" jdbcType="VARCHAR" />
    <result column="OrganizationNamer" property="organizationnamer" jdbcType="VARCHAR" />
    <result column="applyUserName" property="applyUserName" jdbcType="VARCHAR" />
    <result column="JobNumber" property="jobnumber" jdbcType="VARCHAR" />
    <result column="SecretLevelNamer" property="secretlevelnamer" jdbcType="VARCHAR" />
    <result column="StaffNamer" property="staffnamer" jdbcType="VARCHAR" />
    <result column="loginUserID" property="loginuserid" jdbcType="VARCHAR" />
    <result column="loginUserOrgName" property="loginuserorgname" jdbcType="VARCHAR" />
    <result column="loginUserSecretLevel" property="loginusersecretlevel" jdbcType="VARCHAR" />
    <result column="loginUserAccount" property="loginuseraccount" jdbcType="VARCHAR" />
    <result column="rFileUrl" property="rfileurl" jdbcType="VARCHAR" />
    <result column="ApplyUserPhone" property="applyuserphone" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, UniqueID, Name_, Content, DepartName, SecretLevelYJ, YJName, YJSecretLevel, YJDeadline, 
    EjxmName, ExType, SecretLevel, Deadline, Scope, Examina, WorkFlowID, Operation, IsApproved, 
    Isdelete, FormID, date_format(ApplyTime, '%Y-%m-%d %H:%i:%s')  ApplyTime , AccoutNamer, OrganizationNamer, applyUserName, JobNumber, SecretLevelNamer,
    StaffNamer, loginUserID, loginUserOrgName, loginUserSecretLevel, loginUserAccount, 
    rFileUrl, ApplyUserPhone
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from secretexaminaapprove_tbl
    where UniqueID = #{id}
  </select>

  <select id="selectByInstanceId" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List" />
    from secretexaminaapprove_tbl
    where WorkFlowID = #{instanceId}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from secretexaminaapprove_tbl
    whereUniqueID = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretexaminaapproveTbl" >
    insert into secretexaminaapprove_tbl (id, UniqueID, Name_, 
      Content, DepartName, SecretLevelYJ, 
      YJName, YJSecretLevel, YJDeadline, 
      EjxmName, ExType, SecretLevel, 
      Deadline, Scope, Examina, 
      WorkFlowID, Operation, IsApproved, 
      Isdelete, FormID, ApplyTime, 
      AccoutNamer, OrganizationNamer, applyUserName, 
      JobNumber, SecretLevelNamer, StaffNamer, 
      loginUserID, loginUserOrgName, loginUserSecretLevel, 
      loginUserAccount, rFileUrl, ApplyUserPhone
      )
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, 
      #{content,jdbcType=VARCHAR}, #{departname,jdbcType=VARCHAR}, #{secretlevelyj,jdbcType=VARCHAR}, 
      #{yjname,jdbcType=VARCHAR}, #{yjsecretlevel,jdbcType=VARCHAR}, #{yjdeadline,jdbcType=TIMESTAMP}, 
      #{ejxmname,jdbcType=VARCHAR}, #{extype,jdbcType=VARCHAR}, #{secretlevel,jdbcType=VARCHAR}, 
      #{deadline,jdbcType=TIMESTAMP}, #{scope,jdbcType=VARCHAR}, #{examina,jdbcType=VARCHAR}, 
      #{workflowid,jdbcType=VARCHAR}, #{operation,jdbcType=INTEGER}, 0,
       0, #{formid,jdbcType=VARCHAR}, NOW(),
      #{accoutnamer,jdbcType=VARCHAR}, #{organizationnamer,jdbcType=VARCHAR}, #{applyUserName,jdbcType=VARCHAR}, 
      #{jobnumber,jdbcType=VARCHAR}, #{secretlevelnamer,jdbcType=VARCHAR}, #{staffnamer,jdbcType=VARCHAR}, 
      #{loginuserid,jdbcType=VARCHAR}, #{loginuserorgname,jdbcType=VARCHAR}, #{loginusersecretlevel,jdbcType=VARCHAR}, 
      #{loginuseraccount,jdbcType=VARCHAR}, #{rfileurl,jdbcType=VARCHAR}, #{applyuserphone,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretexaminaapproveTbl" >
    update secretexaminaapprove_tbl
    set UniqueID = #{uniqueid,jdbcType=VARCHAR},
      Name_ = #{name,jdbcType=VARCHAR},
      Content = #{content,jdbcType=VARCHAR},
      DepartName = #{departname,jdbcType=VARCHAR},
      SecretLevelYJ = #{secretlevelyj,jdbcType=VARCHAR},
      YJName = #{yjname,jdbcType=VARCHAR},
      YJSecretLevel = #{yjsecretlevel,jdbcType=VARCHAR},
      YJDeadline = #{yjdeadline,jdbcType=TIMESTAMP},
      EjxmName = #{ejxmname,jdbcType=VARCHAR},
      ExType = #{extype,jdbcType=VARCHAR},
      SecretLevel = #{secretlevel,jdbcType=VARCHAR},
      Deadline = #{deadline,jdbcType=TIMESTAMP},
      Scope = #{scope,jdbcType=VARCHAR},
      Examina = #{examina,jdbcType=VARCHAR},
      WorkFlowID = #{workflowid,jdbcType=VARCHAR},
      Operation = #{operation,jdbcType=INTEGER},
      IsApproved = #{isapproved,jdbcType=INTEGER},
      Isdelete = #{isdelete,jdbcType=INTEGER},
      FormID = #{formid,jdbcType=VARCHAR},
      ApplyTime = #{applytime,jdbcType=TIMESTAMP},
      AccoutNamer = #{accoutnamer,jdbcType=VARCHAR},
      OrganizationNamer = #{organizationnamer,jdbcType=VARCHAR},
      applyUserName = #{applyUserName,jdbcType=VARCHAR},
      JobNumber = #{jobnumber,jdbcType=VARCHAR},
      SecretLevelNamer = #{secretlevelnamer,jdbcType=VARCHAR},
      StaffNamer = #{staffnamer,jdbcType=VARCHAR},
      loginUserID = #{loginuserid,jdbcType=VARCHAR},
      loginUserOrgName = #{loginuserorgname,jdbcType=VARCHAR},
      loginUserSecretLevel = #{loginusersecretlevel,jdbcType=VARCHAR},
      loginUserAccount = #{loginuseraccount,jdbcType=VARCHAR},
      rFileUrl = #{rfileurl,jdbcType=VARCHAR},
      ApplyUserPhone = #{applyuserphone,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>


  <update id="updateByInstanceId" >
    update secretexaminaapprove_tbl
    set
      IsApproved = #{status}
    where WorkFlowID = #{instanceId}
  </update>
</mapper>