<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.SecretcontrolscopeTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.SecretcontrolscopeTbl" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR" />
    <result column="TypeNamer" property="typenamer" jdbcType="VARCHAR" />
    <result column="Namer" property="namer" jdbcType="VARCHAR" />
    <result column="SecretLevelId" property="secretlevelid" jdbcType="VARCHAR" />
    <result column="KeepSecretDate" property="keepsecretdate" jdbcType="VARCHAR" />
    <result column="Scope" property="scope" jdbcType="VARCHAR" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="Remarkr" property="remarkr" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    s.id,  s.UniqueID,  s.TypeNamer,  s.Namer,  s.SecretLevelId,  s.KeepSecretDate,  s.Scope,  s.IsDelete,
    s.Remarkr,b.codeName levelName,ba.codeName typeName
  </sql>



  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from secretcontrolscope_tbl s
    left join basecode b on s.SecretLevelId = b.id
    left join basecode ba on s.TypeNamer = ba.id
    where s.UniqueID = #{id}
  </select>

  <select id="select" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from secretcontrolscope_tbl s
    left join basecode b on s.SecretLevelId = b.id
    left join basecode ba on s.TypeNamer = ba.id
    <where>
      s.IsDelete = 0
      <if test="levelId != null and levelId != ''">
        and  s.SecretLevelId = #{levelId}
      </if>
      <if test="keyWord != null and keyWord != ''">
        and  s.Namer like CONCAT("%",#{keyWord},"%")
      </if>
    </where>
    order by s.id desc
    limit #{start},#{pageSize}
  </select>

  <select id="selectTotal" resultType="java.lang.Integer" >
    select
    COUNT(UniqueID)
    from secretcontrolscope_tbl
    <where>
      IsDelete = 0
      <if test="levelId != null and levelId != ''">
        and SecretLevelId = #{levelId}
      </if>
      <if test="keyWord != null and keyWord != ''">
        and Namer like CONCAT("%",#{keyWord},"%")
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update  secretcontrolscope_tbl set IsDelete = 1
    where UniqueID = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretcontrolscopeTbl" >
    insert into secretcontrolscope_tbl (id, UniqueID, TypeNamer, 
      Namer, SecretLevelId, KeepSecretDate, 
      Scope, IsDelete, Remarkr
      )
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{typenamer,jdbcType=VARCHAR}, 
      #{namer,jdbcType=VARCHAR}, #{secretlevelid,jdbcType=VARCHAR}, #{keepsecretdate,jdbcType=VARCHAR}, 
      #{scope,jdbcType=VARCHAR}, 0, #{remarkr,jdbcType=LONGVARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretcontrolscopeTbl" >
    insert into secretcontrolscope_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="uniqueid != null" >
        UniqueID,
      </if>
      <if test="typenamer != null" >
        TypeNamer,
      </if>
      <if test="namer != null" >
        Namer,
      </if>
      <if test="secretlevelid != null" >
        SecretLevelId,
      </if>
      <if test="keepsecretdate != null" >
        KeepSecretDate,
      </if>
      <if test="scope != null" >
        Scope,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
      <if test="remarkr != null" >
        Remarkr,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uniqueid != null" >
        #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="typenamer != null" >
        #{typenamer,jdbcType=VARCHAR},
      </if>
      <if test="namer != null" >
        #{namer,jdbcType=VARCHAR},
      </if>
      <if test="secretlevelid != null" >
        #{secretlevelid,jdbcType=VARCHAR},
      </if>
      <if test="keepsecretdate != null" >
        #{keepsecretdate,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        #{scope,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="remarkr != null" >
        #{remarkr,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretcontrolscopeTbl" >
    update secretcontrolscope_tbl
    <set >
      <if test="uniqueid != null" >
        UniqueID = #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="typenamer != null" >
        TypeNamer = #{typenamer,jdbcType=VARCHAR},
      </if>
      <if test="namer != null" >
        Namer = #{namer,jdbcType=VARCHAR},
      </if>
      <if test="secretlevelid != null" >
        SecretLevelId = #{secretlevelid,jdbcType=VARCHAR},
      </if>
      <if test="keepsecretdate != null" >
        KeepSecretDate = #{keepsecretdate,jdbcType=VARCHAR},
      </if>
      <if test="scope != null" >
        Scope = #{scope,jdbcType=VARCHAR},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="remarkr != null" >
        Remarkr = #{remarkr,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where  UniqueID = #{uniqueid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.SecretcontrolscopeTbl" >
    update secretcontrolscope_tbl
    set UniqueID = #{uniqueid,jdbcType=VARCHAR},
      TypeNamer = #{typenamer,jdbcType=VARCHAR},
      Namer = #{namer,jdbcType=VARCHAR},
      SecretLevelId = #{secretlevelid,jdbcType=VARCHAR},
      KeepSecretDate = #{keepsecretdate,jdbcType=VARCHAR},
      Scope = #{scope,jdbcType=VARCHAR},
      IsDelete = #{isdelete,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="exportExcel" resultMap="BaseResultMap" >
    select
    <include refid="Base_Column_List" />
    from secretcontrolscope_tbl s
    left join basecode b on s.SecretLevelId = b.id
    left join basecode ba on s.TypeNamer = ba.id
    <where>
      s.IsDelete = 0
      <if test="levelId != null and levelId != ''">
        and  s.SecretLevelId = #{levelId}
      </if>
      <if test="keyWord != null and keyWord != ''">
        and  s.Namer like CONCAT("%",#{keyWord},"%")
      </if>
    </where>
    order by s.id desc
  </select>
</mapper>