<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.TblPlanorganizationMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.TblPlanorganization" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="tbl_PlanID" property="tblPlanid" jdbcType="INTEGER" />
    <result column="OrganizationUniqueID" property="organizationuniqueid" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, tbl_PlanID, OrganizationUniqueID
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tbl_planorganization
    where ID = #{id,jdbcType=INTEGER}
  </select>

  <select id="selectByPlanAndOrgId" resultMap="BaseResultMap"  >
    select
    <include refid="Base_Column_List" />
    from tbl_planorganization
    where tbl_PlanID = #{planId} and OrganizationUniqueID = #{orgId}
  </select>


  <select id="selectByPlanId" resultType="com.hangyu.platform.web.backBusiness.dto.TblPlanorganization" parameterType="java.lang.Integer" >
    select
     p.ID, p.tbl_PlanID, p.OrganizationUniqueID,o.OrgName organizationName
    from tbl_planorganization p
    left join organization o on p.OrganizationUniqueID = o.uniqueid
    where p.tbl_PlanID = #{planId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tbl_planorganization
    where ID = #{id,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByPlanId" parameterType="java.lang.Integer" >
    delete from tbl_planorganization
    where tbl_PlanID = #{planId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyProperty="id" keyColumn="ID" useGeneratedKeys="true"
          parameterType="com.hangyu.platform.web.backBusiness.dto.TblPlanorganization" >
    insert into tbl_planorganization (ID, tbl_PlanID, OrganizationUniqueID
      )
    values (#{id,jdbcType=INTEGER}, #{tblPlanid,jdbcType=INTEGER}, #{organizationuniqueid,jdbcType=VARCHAR}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.TblPlanorganization" >
    update tbl_planorganization
    set tbl_PlanID = #{tblPlanid,jdbcType=INTEGER},
      OrganizationUniqueID = #{organizationuniqueid,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=INTEGER}
  </update>
</mapper>