<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.backBusiness.mapper.UsbkeyTblMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl" >
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="UniqueID" property="uniqueid" jdbcType="VARCHAR" />
    <result column="UserId" property="userid" jdbcType="VARCHAR" />
    <result column="DeptID" property="deptid" jdbcType="VARCHAR" />
    <result column="OrgId" property="orgid" jdbcType="VARCHAR" />
    <result column="UsbName" property="usbname" jdbcType="VARCHAR" />
    <result column="UsbType" property="usbtype" jdbcType="VARCHAR" />
    <result column="UsbSecret" property="usbsecret" jdbcType="VARCHAR" />
    <result column="Factory" property="factory" jdbcType="VARCHAR" />
    <result column="GetDate" property="getdate" jdbcType="VARCHAR" />
    <result column="StartUseDate" property="startusedate" jdbcType="VARCHAR" />
    <result column="UseCase" property="usecase" jdbcType="VARCHAR" />
    <result column="Remark" property="remark" jdbcType="VARCHAR" />
    <result column="Status" property="status" jdbcType="INTEGER" />
    <result column="IsDelete" property="isdelete" jdbcType="INTEGER" />
    <result column="Creater" property="creater" jdbcType="VARCHAR" />
    <result column="CreateTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="Updater" property="updater" jdbcType="VARCHAR" />
    <result column="UpdateTime" property="updatetime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    u.ID, u.UniqueID, u.UserId, u.DeptID, u.OrgId, u.UsbName, u.UsbType, u.UsbSecret, u.Factory, u.GetDate,
    u.StartUseDate, u.UseCase, u.Remark, u.Status, u.IsDelete, u.Creater, date_format(u.CreateTime, '%Y-%m-%d %H:%i:%s')  CreateTime ,
     u.Updater, date_format(u.UpdateTime, '%Y-%m-%d %H:%i:%s')  UpdateTime,
    o.OrgName orgName,s.UserName userName, b.codename secretName
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select
    <include refid="Base_Column_List"/>
    from usbkey_tbl u
    left join basecode b on b.id = u.UsbSecret
    left join organization o on o.UniqueId = u.OrgId
    left join bm_staff_tbl s on s.StaffId = u.UserId
    where u.UniqueID = #{id}
  </select>

  <select id="select" resultType="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl"
          parameterType="com.hangyu.platform.web.backBusiness.vo.UsbKeyQueryVO">
    select
    <include refid="Base_Column_List"/>
    from usbkey_tbl u
    left join basecode b on b.id = u.UsbSecret
    left join organization o on o.UniqueId = u.OrgId
    left join bm_staff_tbl s on s.StaffId = u.UserId
    <where>
      u.IsDelete = 0
      <if test="orgId != null and orgId != ''">
        and u.OrgId = #{orgId}
      </if>
      <if test="userId != null and userId != ''">
        and u.UserId = #{userId}
      </if>
      <if test="secretLevelId != null and secretLevelId != ''">
        and u.UsbSecret = #{secretLevelId}
      </if>
      <if test="name != null and name != ''">
        and u.UsbName like CONCAT("%",#{name},"%")
      </if>
    </where>
    order by u.Id desc
    limit #{pageNum},#{pageSize}
  </select>

  <select id="selectTotal" resultType="java.lang.Integer"   parameterType="com.hangyu.platform.web.backBusiness.vo.UsbKeyQueryVO">
    select
    COUNT(Id)
    from usbkey_tbl
    <where>
      IsDelete = 0
      <if test="orgId != null and orgId != ''">
        and OrgId = #{orgId}
      </if>
      <if test="userId != null and userId != ''">
        and UserId = #{userId}
      </if>
      <if test="secretLevelId != null and secretLevelId != ''">
        and UsbSecret = #{secretLevelId}
      </if>
      <if test="name != null and name != ''">
        and UsbName like CONCAT("%",#{name},"%")
      </if>
    </where>
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    update usbkey_tbl set  IsDelete = 1
    where UniqueID = #{id}
  </delete>
  <insert id="insert" parameterType="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl" >
    insert into usbkey_tbl (ID, UniqueID, UserId, 
      DeptID, OrgId, UsbName, 
      UsbType, UsbSecret, Factory, 
      GetDate, StartUseDate, UseCase, 
      Remark, Status, IsDelete, 
      Creater, CreateTime, Updater, 
      UpdateTime)
    values (#{id,jdbcType=INTEGER}, #{uniqueid,jdbcType=VARCHAR}, #{userid,jdbcType=VARCHAR}, 
      #{deptid,jdbcType=VARCHAR}, #{orgid,jdbcType=VARCHAR}, #{usbname,jdbcType=VARCHAR}, 
      #{usbtype,jdbcType=VARCHAR}, #{usbsecret,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, 
      #{getdate,jdbcType=VARCHAR}, #{startusedate,jdbcType=VARCHAR}, #{usecase,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 0,
      #{creater,jdbcType=VARCHAR}, NOW(), #{updater,jdbcType=VARCHAR},
      NOW())
  </insert>
  <insert id="insertSelective" parameterType="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl" >
    insert into usbkey_tbl
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="uniqueid != null" >
        UniqueID,
      </if>
      <if test="userid != null" >
        UserId,
      </if>
      <if test="deptid != null" >
        DeptID,
      </if>
      <if test="orgid != null" >
        OrgId,
      </if>
      <if test="usbname != null" >
        UsbName,
      </if>
      <if test="usbtype != null" >
        UsbType,
      </if>
      <if test="usbsecret != null" >
        UsbSecret,
      </if>
      <if test="factory != null" >
        Factory,
      </if>
      <if test="getdate != null" >
        GetDate,
      </if>
      <if test="startusedate != null" >
        StartUseDate,
      </if>
      <if test="usecase != null" >
        UseCase,
      </if>
      <if test="remark != null" >
        Remark,
      </if>
      <if test="status != null" >
        Status,
      </if>
      <if test="isdelete != null" >
        IsDelete,
      </if>
      <if test="creater != null" >
        Creater,
      </if>
      <if test="createtime != null" >
        CreateTime,
      </if>
      <if test="updater != null" >
        Updater,
      </if>
      <if test="updatetime != null" >
        UpdateTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="uniqueid != null" >
        #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="usbname != null" >
        #{usbname,jdbcType=VARCHAR},
      </if>
      <if test="usbtype != null" >
        #{usbtype,jdbcType=VARCHAR},
      </if>
      <if test="usbsecret != null" >
        #{usbsecret,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="getdate != null" >
        #{getdate,jdbcType=VARCHAR},
      </if>
      <if test="startusedate != null" >
        #{startusedate,jdbcType=VARCHAR},
      </if>
      <if test="usecase != null" >
        #{usecase,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl" >
    update usbkey_tbl
    <set >
      <if test="uniqueid != null" >
        UniqueID = #{uniqueid,jdbcType=VARCHAR},
      </if>
      <if test="userid != null" >
        UserId = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="deptid != null" >
        DeptID = #{deptid,jdbcType=VARCHAR},
      </if>
      <if test="orgid != null" >
        OrgId = #{orgid,jdbcType=VARCHAR},
      </if>
      <if test="usbname != null" >
        UsbName = #{usbname,jdbcType=VARCHAR},
      </if>
      <if test="usbtype != null" >
        UsbType = #{usbtype,jdbcType=VARCHAR},
      </if>
      <if test="usbsecret != null" >
        UsbSecret = #{usbsecret,jdbcType=VARCHAR},
      </if>
      <if test="factory != null" >
        Factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="getdate != null" >
        GetDate = #{getdate,jdbcType=VARCHAR},
      </if>
      <if test="startusedate != null" >
        StartUseDate = #{startusedate,jdbcType=VARCHAR},
      </if>
      <if test="usecase != null" >
        UseCase = #{usecase,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        Remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        Status = #{status,jdbcType=INTEGER},
      </if>
      <if test="isdelete != null" >
        IsDelete = #{isdelete,jdbcType=INTEGER},
      </if>
      <if test="creater != null" >
        Creater = #{creater,jdbcType=VARCHAR},
      </if>
      <if test="createtime != null" >
        CreateTime = #{createtime,jdbcType=TIMESTAMP},
      </if>
      <if test="updater != null" >
        Updater = #{updater,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UpdateTime = #{updatetime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.backBusiness.dto.UsbkeyTbl" >
    update usbkey_tbl
    set
      UserId = #{userid,jdbcType=VARCHAR},
      DeptID = #{deptid,jdbcType=VARCHAR},
      OrgId = #{orgid,jdbcType=VARCHAR},
      UsbName = #{usbname,jdbcType=VARCHAR},
      UsbType = #{usbtype,jdbcType=VARCHAR},
      UsbSecret = #{usbsecret,jdbcType=VARCHAR},
      Factory = #{factory,jdbcType=VARCHAR},
      GetDate = #{getdate,jdbcType=VARCHAR},
      StartUseDate = #{startusedate,jdbcType=VARCHAR},
      UseCase = #{usecase,jdbcType=VARCHAR},
      Remark = #{remark,jdbcType=VARCHAR},
      Status = #{status,jdbcType=INTEGER},
      IsDelete = #{isdelete,jdbcType=INTEGER},
      Creater = #{creater,jdbcType=VARCHAR},
      CreateTime = str_to_date(#{createtime},'%Y-%m-%d %H:%i:%s'),
      Updater = #{updater,jdbcType=VARCHAR},
      UpdateTime = NOW()
    where UniqueID = #{uniqueid,jdbcType=VARCHAR}
  </update>
</mapper>