<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hangyu.platform.web.sysAdmin.mapper.UserroleMapper" >
  <resultMap id="BaseResultMap" type="com.hangyu.platform.web.safeAdmin.dto.Userrole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="userid" property="userid" jdbcType="VARCHAR" />
    <result column="roleid" property="roleid" jdbcType="INTEGER" />
  </resultMap>

  <sql id="Base_Column_List" >
    id, userid, roleid
  </sql>

  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from userrole
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from userrole
    where id = #{id,jdbcType=INTEGER}
  </delete>


  <delete id="deleteByRoleId" parameterType="java.lang.Integer" >
    delete from userrole
    where roleid = #{roleid,jdbcType=INTEGER}
  </delete>

  <delete id="deleteByUserId" parameterType="java.lang.String" >
    delete from userrole
    where userid = #{userid}
  </delete>

  <insert id="insert" parameterType="com.hangyu.platform.web.safeAdmin.dto.Userrole" >
    insert into userrole (id, userid, roleid
      )
    values (#{id,jdbcType=INTEGER}, #{userid,jdbcType=VARCHAR}, #{roleid,jdbcType=INTEGER}
      )
  </insert>

  <insert id="insertBatch" parameterType="java.util.List" >
    <foreach collection="list" item="item" index="index" separator=";">
    insert into userrole ( userid, roleid
      )
    values
      ( #{item.userid,jdbcType=VARCHAR}, #{item.roleid,jdbcType=INTEGER})
    </foreach>

  </insert>

  <insert id="insertSelective" parameterType="com.hangyu.platform.web.safeAdmin.dto.Userrole" >
    insert into userrole
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userid != null" >
        userid,
      </if>
      <if test="roleid != null" >
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userid != null" >
        #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        #{roleid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>


  <update id="updateByPrimaryKeySelective" parameterType="com.hangyu.platform.web.safeAdmin.dto.Userrole" >
    update userrole
    <set >
      <if test="userid != null" >
        userid = #{userid,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null" >
        roleid = #{roleid,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hangyu.platform.web.safeAdmin.dto.Userrole" >
    update userrole
    set userid = #{userid,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>